.currency-container {
    img {
      display: block;
      width: 20px;
      height: 20px;
      object-fit: cover;
      border: 1px solid rgb(228, 231, 235);
      border-radius: 50%;
    }
    .content {
      color: rgb(23, 25, 36);
      line-height: 16px;
      cursor: pointer;
  
      .currency-label {
        color: rgb(88, 102, 126);
        text-transform: uppercase;
      }
      &:hover {
        padding: 0.5rem;
        background-color: rgb(245, 239, 240);
      }
    }
    .selected {
      background-color: rgb(239, 242, 245);
      border-radius: 5px;
    }
  }
  